{{!-- this goes to the main body --}}






<h1>Eat Da Burgers!</h1>
 <div class="row text-center">
       <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="Add burgers to devour!" id="text-box"></input>
        </div>
        <div class="col-sm-3">
             <button class="btn btn-primary" id="submit">Submit</button>
        </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <h2>Burgers to devour</h2>
            <ol>
            {{#each burgers}}
                {{#unless devoured}}
                {{> burger-block   devourBtn=true}}
                {{/unless}}
            {{/each}}
            </ol>
    </div>
    <div class="col-sm-6">
        <h2>Burgers you devoured</h2>
        <ol>
        {{#each burgers}}
            {{#if devoured}}
            {{> burger-block   devourBtn=false}}
            {{/if}}
        {{/each}}
        </ol>
    </div>
</div>

