h1 {
  font-family: 'Henny Penny', cursive;
  text-align: center;
  padding: 10px;
}

.btn {
color: #333333;
background: #FFFFFF;
border: 1px solid #1C6EA4;
border-radius: 5px 5px 5px 5px;
text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0,0,0,0.15);
}

body {
  font-family: 'Indie Flower', cursive;
}