body {
  background-image: url('https://images.pexels.com/photos/1639562/pexels-photo-1639562.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: #F0F8FF;
}

h1 {
  font-family: 'Henny Penny', cursive;
  text-align: center;
  padding: 10px;
  color: #F0F8FF;
}

.row {
  padding: 10px;
}

.btn {
color: #333333;
background: #FFFFFF;
border: 1px solid #1C6EA4;
border-radius: 5px 5px 5px 5px;
text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0,0,0,0.15);
}

body {
  font-family: 'Lobster Two', cursive;
}


.center{
  text-align: center;
  list-style-position: inside;
}

